$nav-width-xxl: 103px;
$nav-height: 80px;

$clr-primary: #7c5dfa;
$clr-primary-hover: #9277ff;

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);

$ff-primary: "League Spartan", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$root-fs: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
